<template name="sideMenu">
    <div class="control--side-menu">

        <div class="menu-wrap">
            <nav class="menu">

                <div class="menu-profile">
                    <!-- <div class="button-shutdown"><i class="fa fa-power-off"></i></div> -->
                    <div class="user-content">
                        {{#if imgAvatar}}
                            {{#each imgAvatar}}
                                <div class="profile-avatar">
                                    <div class="avatars">
                                        <img src="{{this.url}}" alt="{{this.name}}" width="60" height="60">
                                    </div>

                                </div>
                            {{/each}}
                        {{else}}
                            <div class="avatars">
                                <img src="/content/avatars/avatar-no.png" width="60" height="60"/>
                            </div>
                        {{/if}}

                        <div class="user-information">
                            <div class="user-fl-name"> {{> profileSignedInLinks}} </div>
                            <div class="user-location"><i class="fa fa-map-marker"></i> New York, USA</div>
                        </div>
                    </div>
                </div>

                <div class="nav-search">
                    <form id="nav-form-search" class="form-search" action="#" method="post" role="search">
                        <input type="search" autocomplete="off" class="nav-search-field" name="searchword" placeholder="search...">
                    </form>
                </div>

                <div class="icon-list">
                    <a href="/home"><i class="fa fa-home"></i> <span>Home</span></a>

                    {{#if currentUser}}
                        <a href="/contacts"><span>Contacts</span></a>
                        <a href="/conversations"><span>Conversations</span></a>
                        {{> profileSignedOutLinks}}
                    {{/if}}

                </div>
            </nav>
            <button class="close-button" id="close-button">Close Menu</button>

        </div>
        {{> buttonMenu}}
        <!-- <button class="menu-button" id="open-button">Open Menu</button> -->
    </div>
    <!--<div class="content-wrap">
        <div class="content">
            <header class="content-header"></header>
            <section></section>
        </div>
    </div>-->
</template>