<template name="editProfile">
    <div class="page--editProfile">
        <div class="top-bar nav-bar-block nav-bar-color">
            <div class="inner-content">
                <h1 class="title">Profile settings</h1>
            </div>
        </div>

        {{#if currentUser}}

            <div class="owner-photo-wrap has-header">
                <div class="img-avatar">
                    {{#if imagesUser}}
                        {{#each imagesUser}}
                            <div class="profile-avatar">
                                <div class="avatars">
                                    <img src="{{this.url}}" alt="{{this.name}}">
                                    <button value="remove" class="btnRemove">&times;</button>
                                </div>

                            </div>
                        {{/each}}
                     {{else}}
                        <div class="avatars">
                            <img src="/content/avatars/avatar-no.png"/>
                        </div>
                    {{/if}}
                        <div class="avatar-info">
                            <span>Your photo.</span> <br />
                            <span>Download Size<br />should not exceed 2 MB.</span>
                        </div>
                        <div class="fileUpload btn btn-primary">
                            <span>Choose file</span>
                            <input  name="files" type="file" id="files" class="upload" />
                        </div>

                    <!--***********************************************-->
                    <!-- {{#autoForm schema=userSchema collection='Meteor.users' template='plain' doc=currentUser type='update' id='insertImage'}}
                            {{> afQuickField name="profilePic"}}
                    {{/autoForm}} -->
                    <!--***********************************************-->
                </div>

                <div class="hr-line"></div>









                <div class="editProfile-box has-header">
                    {{#autoForm schema=userSchema collection='Meteor.users' template='plain' doc=currentUser type='update' id='editProfile'}}
                        {{> afQuickField name='profile'}}
                        <button type='submit' class="btn btn-default">Save profile</button>
                    {{/autoForm}}
                </div>
             </div>
        {{/if}}

    </div>

</template>