<template name="login">
    <div class="page-wrapper--auth">
        <!--<div class="container">
            <div id="content-container">-->
        <div class="page auth">
            <div class="content-scrollable">
                <div class="wrapper-auth">
                    <h1 class="title-auth">Tetamo</h1>

                    <p class="subtitle-auth">emotional chat</p>

                    <form>
                        <div class="form-group">
                            <div class="input-symbol">
                                <input type="phone" placeholder="Your Phone" name="phone" autocomplete="off">
                                <span title="Your Phone" class="icon-phone"></span>
                            </div>

                            <div class="input-symbol">
                                <input type="password" placeholder="Password" name="password" autocomplete="off">
                                <span title="Password" class="icon-lock"></span>
                            </div>

                            <button class="btn btn-primary" type="submit">Log in</button>
                        </div>
                    </form>
                </div>
                <a href="/" class="link-forgot-password">Forgot your password?</a>
            </div>
            <!--</div>
        </div>-->
        </div>

        <div class="footer">
            <div class="container">
                <p>
                    <a href="/" class="link-auth-alt">Don’t have an account? Join Now. <strong>Create one</strong></a>
                </p>
            </div>
        </div>
    </div>
</template>