<template name="root">

    <div class="fake-box">
        <h1>FANTASIA</h1>
        <h3>is coming soon</h3>
        <a href="/home">Home page</a>
        <br/>
        <h7 class="bottom-notice"><a id="subscribe">Subscribe</a> for updates.</h7>
    </div>

    <div id="subscribe-panel" style="display: none;" class="subscribe-panel">
        <br/>
        <input type="email" placeholder="your email" class="email-chkbox"/>

        <br/>
        <h7>I want to be Alfa user:</h7>
        <input id="want-alfa" type="checkbox" class="myinput large custom " checked="checked"/>
        <!--<input type="checkbox"/>-->

        <br/>
        <div class="subscribe-btn" id="subscribe-btn" type="button" value="subscribe">subscribe</div>
    </div>
    <div id="thank-you-panel" style="display: none;">
        <br/>

        <h7>Thank you, we will keep you posted!</h7>

    </div>
</template>