<template name="newMessage">
    <div class="page--newMessage">
        <div class="top-bar nav-bar-block nav-bar-color">
            <div class="inner-content">
                <h1 class="title">New message</h1>
            </div>
        </div>

        <div class="new-message-box has-header">
            <!--Загаловок. Ввод конкта для диалога -->
            <div class="to-header">
                <div class="text-label">
                    <label>To: </label>
                </div>

                <div class="contact-input">
                    <input type="text" autofocus name="contact-input"/>
                </div>

                <div class="add-contact">
                        <i class="fa fa-plus-circle"></i>
                </div>

            </div>

            <div class="contact-list">
                <!--require Contact list here -->
            </div>
        </div>




    </div>
</template>